{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block titulo %}
  {% if ativo.pf %}
    <title>Edição de ativo</title>
  {% else %}
    <title>Cadastro de ativo</title>
  {% endif %}
{% endblock titulo %}

{% block conteudo %}
      {% if ativo.pk %}
        <h1 class="text-light mb-4" >Editar ativo</h1>
      {% else %}
        <h1 class="text-light mb-4" >Cadastrar novo ativo</h1>
      {% endif %}
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Intervalo de consultas (ms)</th>
                <th scope="col">Valor para compra</th>
                <th scope="col">Valor para venda</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
              <form id="login-form" class="form" action="" method="post">
                {% csrf_token %}
                {% if ativo.pk %}
                  <td> {{ativo.codigo}} </td>
                {% else %}
                  <td> {{form.codigo}} </td>
                {% endif %}
                <td> {{form.periodicidade}} </td>
                <td> {{form.valor_de_compra}} </td>
                <td> {{form.valor_de_venda}} </td>
                <td>
                    <input type="submit" name="submit" class="btn btn-info btn-sm" value="salvar">
                </td>
              </form>
            </tbody>
        </table>
        </div>  
{% endblock conteudo %}

