{% extends "base.html" %}
{% load static %} 

{% block titulo %}
  <title>Home</title>
{% endblock titulo %}

{% block script %} 
  <link rel="text/javascript" href="{% static 'script.js' %}">
{% endblock script %}

{% block conteudo %}
      <h1 class="text-light bg-dark mb-2" >Meus Ativos</h1>
        {% if ativo_list %}
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col" colspan=>Ultima cotação (BRL)</th>
                    <th scope="col" colspan="3">Data/hora da ultima checagem</th>
                    <th scope="col" colspan="3"></th>                 
                </tr>
                </thead>
                <tbody>
                    {% for ativo in ativo_list %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th> 
                        <td> {{ativo.codigo}} </td>{% comment "" %} mostra o codigo do ativo {% endcomment %}
                        <td> R$ {{ativo.historico.last.preco}} </td> {% comment "" %} mostra o ultimo preco do ativo{% endcomment %}
                        <td colspan = "3">{{ativo.historico.last.data_hora}}</td> {% comment "" %}mostra o horario correspondente a ultima checagem{% endcomment %}
                        <td>
                            <a class= "btn btn-primary btn-sm" href="{% url 'historico' ativo_id=ativo.id %}">Ver histórico</a>
                        </td>
                        <td>
                            <a class= "btn btn-warning btn-sm" href="{% url 'editar' pk=ativo.id %}">Editar</a>
                        </td>
                        <td>
                          <a class= "btn btn-danger btn-sm" href="{% url 'excluir' pk=ativo.id %}">Excluir</a>
                      </td>
                    </tr>
                    {% endfor %}
                    <td colspan="9">
                      <a href="{% url 'cadastrar ativo' %}">Adicionar Ativo</a>
                    </td>
                </tbody>
            </table>
        {% else %}
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Código</th>
                        <th scope="col">Ultima cotação</th>
                        <th scope="col">Data/hora</th>
                    </tr>
                </thead>
                <tbody>
                    <td colspan="6">
                        <a href="{% url 'cadastrar ativo'%}">Adicionar Ativo</a>
                    </td>
            </table>
        {% endif %}
{% endblock conteudo %}

